# Exercício 1

## Objetivo

Esta atividade tem o objetivo de exercitar de maneira prática o que foi aprendido pelo aluno no contexto do MongoDB.

## Sobre a base de dados

Neste laboratório você utilizará um dataset contendo informações sobre restaurantes. A coleção de restaurantes contém 3772 documentos. Cada documento contém informações sobre um único restaurante.

Veja um exemplo de documento de um dos restaurantes e entenda a estrutura/schema:

```json
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}

```

# Baixando a coleção

In [2]:
!wget https://www.w3resource.com/mongodb-exercises/restaurants.zip
!unzip -o restaurants.zip
!rm restaurants.zip

--2020-09-26 16:50:58--  https://www.w3resource.com/mongodb-exercises/restaurants.zip
Resolving www.w3resource.com (www.w3resource.com)... 104.26.14.93, 172.67.69.127, 104.26.15.93, ...
Connecting to www.w3resource.com (www.w3resource.com)|104.26.14.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 262722 (257K) [application/zip]
Saving to: ‘restaurants.zip’

restaurants.zip     100%[===================>] 256.56K   993KB/s    in 0.3s

2020-09-26 16:50:59 (993 KB/s) - ‘restaurants.zip’ saved [262722/262722]

Archive:  restaurants.zip
  inflating: restaurants.json

# Importando a coleção para o MongoDB
Utilizaremos o ``` mongoimport ``` para importar a coleção ``` restaunts.json ```. Mais informações sobre esta ferramenta podem ser encontradas em https://docs.mongodb.com/manual/reference/program/mongoimport/#bin.mongoimport .

Modifique o comando abaixo, alterando o nome do banco de dados e da coleção para nomes de sua preferência.

In [3]:
!mongoimport --db exercicio1 --collection restaurants --drop --file $(pwd)/restaurants.json

2020-09-26T16:51:03.267+0000	connected to: mongodb://localhost/
2020-09-26T16:51:03.267+0000	dropping: exercicio1.restaurants
2020-09-26T16:51:05.446+0000	3772 document(s) imported successfully. 0 document(s) failed to import.

# Opções para fazer consultas no dataset

## Usando Python

In [6]:
from pymongo import MongoClient
from pprintpp import pprint
import warnings
warnings.filterwarnings('ignore')
mongoclient = MongoClient('localhost', 27017)
db = mongoclient.exercicio1
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'exercicio1')

In [7]:
db.restaurants.find({}).count()

3772

## Mongo Shell

In [5]:
! mongo --quiet --eval 'db.restaurants.find().count();' exercicio1

3772

## Mongo Shell e Python

In [6]:
documento_busca = {
    
}

! mongo --quiet --eval "db.restaurants.find().count();" exercicio1

3772

## Questões Exemplo

### [Questão Exemplo A]  Mostre um documento qualquer da coleção restaurants

In [18]:
result = db.restaurants.find({}).limit(1)

pprint( list(result) )

[
    {
        '_id': ObjectId('5f6f6ebb38a1d371041dcd72'),
        'address': {
            'building': '8825',
            'coord': [-73.8803827, 40.7643124],
            'street': 'Astoria Boulevard',
            'zipcode': '11369',
        },
        'borough': 'Queens',
        'cuisine': 'American ',
        'grades': [
            {
                'date': datetime.datetime(2014, 11, 15, 0, 0),
                'grade': 'Z',
                'score': 38,
            },
            {
                'date': datetime.datetime(2014, 5, 2, 0, 0),
                'grade': 'A',
                'score': 10,
            },
            {
                'date': datetime.datetime(2013, 3, 2, 0, 0),
                'grade': 'A',
                'score': 7,
            },
            {
                'date': datetime.datetime(2012, 2, 10, 0, 0),
                'grade': 'A',
                'score': 13,
            },
        ],
        'name': 'Brunos On The Boulevard',
        'restaurant_id': '40356151',
    },
]

### [Questão Exemplo B]  Encontre o documento referente ao restaurante de nome "Kosher Island"

In [10]:
result = db.restaurants.find({"name": "Kosher Island"})

pprint( list(result) )

[
    {
        '_id': ObjectId('5f6f6ebb38a1d371041dcd77'),
        'address': {
            'building': '2206',
            'coord': [-74.1377286, 40.6119572],
            'street': 'Victory Boulevard',
            'zipcode': '10314',
        },
        'borough': 'Staten Island',
        'cuisine': 'Jewish/Kosher',
        'grades': [
            {
                'date': datetime.datetime(2014, 10, 6, 0, 0),
                'grade': 'A',
                'score': 9,
            },
            {
                'date': datetime.datetime(2014, 5, 20, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2013, 4, 4, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2012, 1, 24, 0, 0),
                'grade': 'A',
                'score': 9,
            },
        ],
        'name': 'Kosher Island',
        'restaurant_id': '40356442',
    },
]

## Questões a serem resolvidas

### [Questão 1] Mostre o nome de todos os restaurantes sem repetir. Separadamente, mostre também todos os tipos distintos de cozinhas.

In [20]:
result = db.restaurants.distinct("name")
list(result)

[]

In [21]:
result = db.restaurants.distinct("cuisine")
list(result)

['Afghan',
 'African',
 'American ',
 'Armenian',
 'Asian',
 'Bagels/Pretzels',
 'Bakery',
 'Bangladeshi',
 'Barbecue',
 'Bottled beverages, including water, sodas, juices, etc.',
 'Brazilian',
 'CafÃ©/Coffee/Tea',
 'Café/Coffee/Tea',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Chinese/Cuban',
 'Chinese/Japanese',
 'Continental',
 'Czech',
 'Delicatessen',
 'Donuts',
 'Eastern European',
 'Egyptian',
 'English',
 'Ethiopian',
 'Filipino',
 'French',
 'German',
 'Greek',
 'Hamburgers',
 'Hotdogs',
 'Ice Cream, Gelato, Yogurt, Ices',
 'Indian',
 'Indonesian',
 'Irish',
 'Italian',
 'Japanese',
 'Jewish/Kosher',
 'Juice, Smoothies, Fruit Salads',
 'Korean',
 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Moroccan',
 'Not Listed/Not Applicable',
 'Other',
 'Pakistani',
 'Pancakes/Waffles',
 'Peruvian',
 'Pizza',
 'Pizza/Italian',
 'Polish',
 'Portuguese',
 'Russian',
 'Salads',
 'Sandwiches',
 'Sandwiches/Salads/Mixed Buffet',
 'Seafood',
 'Soul Food',
 'Soups & Sandwiches',
 'Spanish',
 'Steak',
 'Tapas',
 'Tex-Mex',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese/Cambodian/Malaysia']

### [Questão 2] Mostre o nome e o tipo de cozinha de 5 restaurantes quaisquer sem exibir o campo "_id"

In [27]:
# Lista poemaPreferido de documentos de autores com nome = Maria

result = db.restaurants.find(
                         {}, 
                         {
                             "_id": 0,
                             "name":1,
                             "cuisine": 1
                         }
                    ).limit(5)

list(result)

[{'cuisine': 'American ', 'name': 'Brunos On The Boulevard'},
 {'cuisine': 'Bakery', 'name': 'Morris Park Bake Shop'},
 {'cuisine': 'Ice Cream, Gelato, Yogurt, Ices',
  'name': 'Taste The Tropics Ice Cream'},
 {'cuisine': 'American ', 'name': 'Wild Asia'},
 {'cuisine': 'American ', 'name': 'Regina Caterers'}]

### [Questão 3] Mostre 5 restaurantes no bairro "Bronx"

In [29]:
result = db.restaurants.find(
                         {
                             "borough":"Bronx"
                         }, 
                         {
                             "id":0
                         }
                    ).limit(5)

list(result)

[{'_id': ObjectId('5f6f6ebb38a1d371041dcd73'),
  'address': {'building': '1007',
   'coord': [-73.856077, 40.848447],
   'street': 'Morris Park Ave',
   'zipcode': '10462'},
  'borough': 'Bronx',
  'cuisine': 'Bakery',
  'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
    'grade': 'A',
    'score': 2},
   {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}],
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'_id': ObjectId('5f6f6ebb38a1d371041dcd75'),
  'address': {'building': '2300',
   'coord': [-73.8786113, 40.8502883],
   'street': 'Southern Boulevard',
   'zipcode': '10460'},
  'borough': 'Bronx',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4},
   {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}],
  'name': 'Wild Asia',
  'restaurant_id': '40357217'},
 {'_id': ObjectId('5f6f6ebb38a1d371041dcd9b'),
  'address': {'building': '277',
   'coord': [-73.8941893, 40.8634684],
   'street': 'East Kingsbridge Road',
   'zipcode': '10458'},
  'borough': 'Bronx',
  'cuisine': 'Chinese',
  'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2013, 9, 26, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 10},
   {'date': datetime.datetime(2012, 8, 29, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Happy Garden',
  'restaurant_id': '40364296'},
 {'_id': ObjectId('5f6f6ebb38a1d371041dcda1'),
  'address': {'building': '658',
   'coord': [-73.81363999999999, 40.82941100000001],
   'street': 'Clarence Ave',
   'zipcode': '10465'},
  'borough': 'Bronx',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 6, 21, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 10}],
  'name': 'Manhem Club',
  'restaurant_id': '40364363'},
 {'_id': ObjectId('5f6f6ebb38a1d371041dcdd8'),
  'address': {'building': '331',
   'coord': [-73.87786539999999, 40.8724377],
   'street': 'East  204 Street',
   'zipcode': '10467'},
  'borough': 'Bronx',
  'cuisine': 'Irish',
  'grades': [{'date': datetime.datetime(2014, 8, 26, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 3, 26, 0, 0), 'grade': 'B', 'score': 23},
   {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 12, 18, 0, 0), 'grade': 'B', 'score': 27},
   {'date': datetime.datetime(2011, 10, 20, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Mcdwyers Pub',
  'restaurant_id': '40365893'}]

### [Questão 4] Altere o tipo de cozinha do restaurante "Kosher Island" para "Sea food"

In [32]:
result = db.restaurants.find({"name": "Kosher Island"})

pprint( list(result) )

[
    {
        '_id': ObjectId('5f6f6ebb38a1d371041dcd77'),
        'address': {
            'building': '2206',
            'coord': [-74.1377286, 40.6119572],
            'street': 'Victory Boulevard',
            'zipcode': '10314',
        },
        'borough': 'Staten Island',
        'cuisine': 'Sea food',
        'grades': [
            {
                'date': datetime.datetime(2014, 10, 6, 0, 0),
                'grade': 'A',
                'score': 9,
            },
            {
                'date': datetime.datetime(2014, 5, 20, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2013, 4, 4, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2012, 1, 24, 0, 0),
                'grade': 'A',
                'score': 9,
            },
        ],
        'name': 'Kosher Island',
        'restaurant_id': '40356442',
    },
]

In [31]:
db.restaurants.update(
                   { "name" : "Kosher Island" },
                   { "$set": { 
                               "cuisine": "Sea food" 
                             } 
                   }
)

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

### [Questão 5] Mostre e remova o(s) restaurante(s) com zipcode "10314"

In [12]:
result = db.restaurants.find({"address.zipcode": "10314"}).limit(2)

pprint( list(result) )

[
    {
        '_id': ObjectId('5f6f71774111f0fe3aebeff1'),
        'address': {
            'building': '1758',
            'coord': [-74.1220973, 40.6129407],
            'street': 'Victory Boulevard',
            'zipcode': '10314',
        },
        'borough': 'Staten Island',
        'cuisine': 'Pizza/Italian',
        'grades': [
            {
                'date': datetime.datetime(2014, 11, 20, 0, 0),
                'grade': 'A',
                'score': 5,
            },
            {
                'date': datetime.datetime(2014, 1, 13, 0, 0),
                'grade': 'B',
                'score': 14,
            },
            {
                'date': datetime.datetime(2013, 4, 25, 0, 0),
                'grade': 'A',
                'score': 10,
            },
            {
                'date': datetime.datetime(2012, 10, 9, 0, 0),
                'grade': 'A',
                'score': 4,
            },
            {
                'date': datetime.datetime(2012, 5, 2, 0, 0),
                'grade': 'B',
                'score': 22,
            },
        ],
        'name': "Joe & Pat'S Pizzeria",
        'restaurant_id': '40365454',
    },
    {
        '_id': ObjectId('5f6f71774111f0fe3aebf04c'),
        'address': {
            'building': '2206',
            'coord': [-74.1377286, 40.6119572],
            'street': 'Victory Boulevard',
            'zipcode': '10314',
        },
        'borough': 'Staten Island',
        'cuisine': 'Jewish/Kosher',
        'grades': [
            {
                'date': datetime.datetime(2014, 10, 6, 0, 0),
                'grade': 'A',
                'score': 9,
            },
            {
                'date': datetime.datetime(2014, 5, 20, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2013, 4, 4, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2012, 1, 24, 0, 0),
                'grade': 'A',
                'score': 9,
            },
        ],
        'name': 'Kosher Island',
        'restaurant_id': '40356442',
    },
]

In [15]:
db.restaurants.count()

3772

In [17]:
db.restaurants.remove({"address.zipcode": "10314"})

{'n': 37, 'ok': 1.0}

In [18]:
db.restaurants.count()

3735

### [Questão 6] Adicione um campo status ao restaurante cujo nome é "Riviera Caterer". Status="demolido".

In [19]:
result = db.restaurants.find({"name": "Riviera Caterer"})

pprint( list(result) )

[
    {
        '_id': ObjectId('5f6f71774111f0fe3aebefb8'),
        'address': {
            'building': '2780',
            'coord': [-73.98241999999999, 40.579505],
            'street': 'Stillwell Avenue',
            'zipcode': '11224',
        },
        'borough': 'Brooklyn',
        'cuisine': 'American ',
        'grades': [
            {
                'date': datetime.datetime(2014, 6, 10, 0, 0),
                'grade': 'A',
                'score': 5,
            },
            {
                'date': datetime.datetime(2013, 6, 5, 0, 0),
                'grade': 'A',
                'score': 7,
            },
            {
                'date': datetime.datetime(2012, 4, 13, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2011, 10, 12, 0, 0),
                'grade': 'A',
                'score': 12,
            },
        ],
        'name': 'Riviera Caterer',
        'restaurant_id': '40356018',
    },
]

In [20]:
db.restaurants.update(
                    {"name": "Riviera Caterer"}, 
                    {"$set": {"Status": "demolido"}}
)

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [21]:
result = db.restaurants.find({"name": "Riviera Caterer"})

pprint( list(result) )

[
    {
        'Status': 'demolido',
        '_id': ObjectId('5f6f71774111f0fe3aebefb8'),
        'address': {
            'building': '2780',
            'coord': [-73.98241999999999, 40.579505],
            'street': 'Stillwell Avenue',
            'zipcode': '11224',
        },
        'borough': 'Brooklyn',
        'cuisine': 'American ',
        'grades': [
            {
                'date': datetime.datetime(2014, 6, 10, 0, 0),
                'grade': 'A',
                'score': 5,
            },
            {
                'date': datetime.datetime(2013, 6, 5, 0, 0),
                'grade': 'A',
                'score': 7,
            },
            {
                'date': datetime.datetime(2012, 4, 13, 0, 0),
                'grade': 'A',
                'score': 12,
            },
            {
                'date': datetime.datetime(2011, 10, 12, 0, 0),
                'grade': 'A',
                'score': 12,
            },
        ],
        'name': 'Riviera Caterer',
        'restaurant_id': '40356018',
    },
]

### [Questão Extra] Adicione um restaurante seguindo a estrutura de documentos da coleção

In [23]:
import datetime

db.restaurants.insert(
                        {
                            'address': {
                                'building': '9999',
                                'coord': [-99999, 99999],
                                'street': 'rua teste',
                                'zipcode': '123456',
                            },
                            'borough': 'bairro teste',
                            'cuisine': 'cozinha BR ',
                            'grades': [
                                {
                                    'date': datetime.datetime(2014, 6, 10, 0, 0),
                                    'grade': 'A',
                                    'score': 5,
                                },
                                {
                                    'date': datetime.datetime(2013, 6, 5, 0, 0),
                                    'grade': 'A',
                                    'score': 7,
                                },
                                {
                                    'date': datetime.datetime(2012, 4, 13, 0, 0),
                                    'grade': 'A',
                                    'score': 12,
                                },
                                {
                                    'date': datetime.datetime(2011, 10, 12, 0, 0),
                                    'grade': 'A',
                                    'score': 12,
                                },
                            ],
                            'name': 'MURILO RESTAURANTE',
                            'restaurant_id': '40356018',
                        }
)

ObjectId('5f6f732dbf2a89249c9bc223')

### [Questão Extra] Adicione um campo cidade do restaurante criado anteriormente para "Ilheus"

In [24]:
db.restaurants.update(
                    {"name": "MURILO RESTAURANTE"}, 
                    {"$set": {"cidade": "Ilheus"}}
)

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

### [Questão Extra] Mostre o nome de todos os restaurantes que receberam pelo menos uma avaliação A

In [31]:
result = db.restaurants.find(
                         {
                             "grades.grade": "A"
                         }, 
                         {
                             "_id": 0,
                             "name":1,
                         }
                    )##.limit(5)

list(result)

[{'name': "Wendy'S"},
 {'name': 'Dj Reynolds Pub And Restaurant'},
 {'name': "Wilken'S Fine Food"},
 {'name': 'Ho Mei Restaurant'},
 {'name': 'The Movable Feast'}]