# Exercício 1 - Ligações para o 911

### Nos EUA, o número 911 é destinado à emergências. O [Kaggle](https://www.kaggle.com/mchirico/montcoalert) disponibilizou dados de ligações para o serviço:

* lat: Variável String, Latitude
* lng: Variável String, Longitude
* desc: Variável String, Descrição da Chamada de Emergência
* zip: Variável String, CEP
* título: Variável String, Título
* timeStamp: Variável String, AAAA-MM-DD HH: MM: SS
* twp: Variável String, Township
* addr: Variável String, Endereço
* e: Variável String, variável Dummy (sempre 1)

### Leia o arquivo csv (911.csv) como um dataframe chamado _calls_

In [3]:
import pandas as pd
with open("911.csv") as arq:
    calls = pd.read_csv(arq)

type(calls)

pandas.core.frame.DataFrame

### Quantas linhas e colunas tem o arquivo? Qual a quantidade de memória necessária para carregá-lo?

In [4]:
# print(calls.index.stop, 'linhas.')
# print(len(calls.columns), 'colunas')
# print(calls.size, 'memória')
calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

### Quais são os top 5 CEPs nas chamadas 911?

In [5]:
# series  = pd.Series(calls['zip'].dropna().map(int))
# x = series.value_counts()
# x.nlargest()
calls['zip'].value_counts().head()

19401.0    6979
19464.0    6643
19403.0    4854
19446.0    4748
19406.0    3174
Name: zip, dtype: int64

### Quais são os 5 principais municípios nas chamadas 911?

In [6]:
# series  = pd.Series(calls['twp'])
# x = series.value_counts()
# x[:5]
calls['twp'].value_counts().head()

LOWER MERION    8443
ABINGTON        5977
NORRISTOWN      5890
UPPER MERION    5227
CHELTENHAM      4575
Name: twp, dtype: int64

### Quantos códigos de título únicos existem?

In [10]:
#calls['title'].value_counts()
calls.title.nunique()

110

### Na coluna _title_ existem Razões / Departamentos especificados antes do código do título. Estes são _"EMS"_, _"Fire"_ e _"Traffic"_. Crie uma nova coluna chamada _Reason_ que conterá esse valor em cada linha

#### Por exemplo, se o valor da coluna do título for EMS: BACK PAINS / BLESSOR, o valor da coluna Reason será EMS.

In [11]:
calls['Reason'] = calls.title.apply(lambda title: title.split(':')[0])
#calls['Reason'] = calls.title.str.partition(':')[0]
calls.Reason

0            EMS
1            EMS
2           Fire
3            EMS
4            EMS
          ...
99487    Traffic
99488    Traffic
99489        EMS
99490        EMS
99491    Traffic
Name: Reason, Length: 99492, dtype: object

### Qual é a razão mais comum para uma chamada do 911 com base nessa nova coluna?

In [17]:
# series  = pd.Series(calls.Reason)
# x = series.value_counts()
# x[:1]
calls.Reason.value_counts()

EMS        48877
Traffic    35695
Fire       14920
Name: Reason, dtype: int64

In [19]:
calls.Reason.value_counts().idxmax()

'EMS'

In [20]:
calls.Reason.describe()

count     99492
unique        3
top         EMS
freq      48877
Name: Reason, dtype: object

### Qual é o tipo de dados dos objetos na coluna _timeStamp_?

In [8]:
calls['timeStamp'].dtypes

dtype('O')

### Converta a coluna _timeStamp_ para DateTime. Use [pd.to_datetime](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html) para essa operação.

In [21]:
calls['timeStamp'] = pd.to_datetime(calls['timeStamp'])

### Crie 3 novas colunas chamadas _Hour_, _Month_ e _Day of Week_. Você criará essas colunas com base na coluna timeStamp

In [31]:
calls['Hour_'] = pd.DatetimeIndex(calls['timeStamp']).hour
calls['_Month'] = pd.DatetimeIndex(calls['timeStamp']).month
calls['DayofWeek'] = pd.DatetimeIndex(calls['timeStamp']).weekday
calls.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason,Hour_,_Month,DayofWeek
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS,17,12,3
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS,17,12,3
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire,17,12,3
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS,17,12,3
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS,17,12,3

### Observe como o dia da demana é um número inteiro de 0-6. Mapeie os nomes das seqüências reais para o dia da semana, nessa mesma coluna:

- 0 => Mon
- 1 => Tue
- 2 => Wed
- 3 => Thu
- 4 => Fri
- 5 => Sat
- 6 => Sun

In [32]:
calls.DayofWeek = calls['DayofWeek'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})
#calls['DayofWeek'] = calls['timeStamp'].dt.day_name(locale = 'English')
calls.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason,Hour_,_Month,DayofWeek
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS,17,12,Thu
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS,17,12,Thu
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire,17,12,Thu
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS,17,12,Thu
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS,17,12,Thu

### Qual a quantidade de chamadas de cada motivo (_Reason_) por mês?

In [36]:
# qd_chamadas = pd.Series(calls['Reason'])
# qd_chamadas = pd.value_counts(qd_chamadas)
# qd_chamadas
df = calls.groupby(['_Month','Reason']).size()
df

_Month  Reason
1       EMS        6063
        Fire       1905
        Traffic    5237
2       EMS        5413
        Fire       1869
        Traffic    4185
3       EMS        5832
        Fire       1590
        Traffic    3679
4       EMS        5680
        Fire       1717
        Traffic    3929
5       EMS        5734
        Fire       1573
        Traffic    4116
6       EMS        5720
        Fire       1796
        Traffic    4270
7       EMS        6029
        Fire       1901
        Traffic    4207
8       EMS        4508
        Fire       1473
        Traffic    3097
12      EMS        3898
        Fire       1096
        Traffic    2975
dtype: int64

In [37]:
df = calls.groupby(['_Month','Reason']).size().unstack()
df

Reason   EMS  Fire  Traffic
_Month
1       6063  1905     5237
2       5413  1869     4185
3       5832  1590     3679
4       5680  1717     3929
5       5734  1573     4116
6       5720  1796     4270
7       6029  1901     4207
8       4508  1473     3097
12      3898  1096     2975

### Qual foi o dia com a maior quantidade de chamadas? Quantas chamadas foram executadas neste dia?

In [39]:
# qddia_chamadas = pd.Series(calls['DayofWeek'])
# qddia_chamadas = pd.value_counts(qddia_chamadas)
# qddia_chamadas.index[0]
calls.timeStamp.apply(lambda t: t.date()).value_counts().head(1)

2016-01-23    913
Name: timeStamp, dtype: int64

### Levando-se em consideração apenas atendimentos feitos às sextas-feiras, qual a hora do dia com o maior número de chamadas?

In [45]:
calls.groupby(by=['DayofWeek','Hour_']).size().unstack()

Hour_,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
DayofWeek,,,,,,,,,,,,,,,,,,,,,
Fri,275,235,191,175,201,194,372,598,742,752,...,932,980,1039,980,820,696,667,559,514,474
Mon,282,221,201,194,204,267,397,653,819,786,...,869,913,989,997,885,746,613,497,472,325
Sat,375,301,263,260,224,231,257,391,459,640,...,789,796,848,757,778,696,628,572,506,467
Sun,383,306,286,268,242,240,300,402,483,620,...,684,691,663,714,670,655,537,461,415,330
Thu,278,202,233,159,182,203,362,570,777,828,...,876,969,935,1013,810,698,617,553,424,354
Tue,269,240,186,170,209,239,415,655,889,880,...,943,938,1026,1019,905,731,647,571,462,274
Wed,250,216,189,209,156,255,410,701,875,808,...,904,867,990,1037,894,686,668,575,490,335

In [44]:
# new_df = calls[calls['DayofWeek'] == 'Fri']
# cont_hour = pd.Series(new_df['Hour_'])
# cont_hour = cont_hour.value_counts()
# cont_hour.index[0]
calls.groupby(by=['DayofWeek','Hour_']).size()['Fri'].idxmax()

16

### Levando-se em consideração os atendimentos relacionados a incêndio (_Reason_ = _Fire_) qual a quantidade de chamados aos sábados?

In [48]:
# new_df = calls[calls['Reason'] == 'Fire']
# s = pd.Series(new_df['DayofWeek'])
# qd = s.value_counts()
# qd.get('Saturday')

calls.groupby(by=['Reason','DayofWeek']).size()['Fire']['Sat']

2068