In [ ]:
import pyodbc 
import pandas as pd

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=name;'
                      'Database=dbname;'
                      'Trusted_Connection=yes;')

# cursor = conn.cursor()
# cursor.execute('SELECT top 1 * FROM tb_fatovaloreslancados')

# for row in cursor:
#     print(row)
    

sql_query = pd.read_sql_query('SELECT col from table',conn)
sql_query.sample()

# print(sql_query)
# print(type(sql_query))