In [3]:
import pyodbc 

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=Murilo\Murilo;'
                      'Database=wb_petshop;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT top 1 * FROM tb_Cliente_telefone')

for row in cursor:
    print(row)
    

# sql_query = pd.read_sql_query('SELECT col from table',conn)
# sql_query.sample()

# print(sql_query)
# print(type(sql_query))

(1, 5626, None, '', None, None, 2, 1, None, None)