## Séries Temporais com Árvores de decisão

In [1]:
import pandas as pd

acoes = pd.read_csv('GOOGL_Nasdaq_data.csv')

FileNotFoundError: [Errno 2] File GOOGL_Nasdaq_data.csv does not exist: 'GOOGL_Nasdaq_data.csv'

In [ ]:
acoes.shape

In [3]:
acoes.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [5]:
acoes.head()

         Date Close/Last   Volume      Open        High       Low
0  02/18/2021   $2105.81  1128549     $2105    $2121.99  $2093.33
1  02/17/2021   $2118.62  1015177  $2093.98  $2122.4434  $2088.35
2  02/16/2021    $2110.7  1550195  $2091.75    $2145.14  $2091.75
3  02/12/2021   $2095.03   949525  $2079.77     $2099.5  $2073.57
4  02/11/2021   $2088.75  1024029     $2091       $2094  $2068.86

In [6]:
acoes['Close/Last'] = pd.to_numeric(acoes['Close/Last'].str.replace('$',''))

In [7]:
acoes.describe()

        Close/Last        Volume
count  1259.000000  1.259000e+03
mean   1129.290770  1.791081e+06
std     284.614057  8.339034e+05
min     681.140000  4.656380e+05
25%     934.785000  1.276680e+06
50%    1103.590000  1.567503e+06
75%    1258.145000  2.015582e+06
max    2118.620000  7.038718e+06

### Vamos criar o rótulo, se a ação fechou acima ou abaixo do dia anterior

In [8]:
acoes['Menos1'] = acoes['Close/Last'].shift(-1)
#acoes['Media3'] = (acoes['Menos1'] + acoes['Menos2'] + acoes['Menos3']) / 3

In [9]:
acoes[['Date','Close/Last','Menos1']]

            Date  Close/Last   Menos1
0     02/18/2021     2105.81  2118.62
1     02/17/2021     2118.62  2110.70
2     02/16/2021     2110.70  2095.03
3     02/12/2021     2095.03  2088.75
4     02/11/2021     2088.75  2086.48
...          ...         ...      ...
1254  02/25/2016      729.12   720.90
1255  02/24/2016      720.90   717.29
1256  02/23/2016      717.29   729.05
1257  02/22/2016      729.05   722.11
1258  02/19/2016      722.11      NaN

[1259 rows x 3 columns]

In [10]:
acoes['classe'] = 'Não'
acoes['classe'][acoes['Close/Last'] - acoes['Menos1'] > 0] = 'Sim'

C:\Users\Pichau\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
acoes[['Date','Menos1','classe']]

            Date   Menos1 classe
0     02/18/2021  2118.62    Não
1     02/17/2021  2110.70    Sim
2     02/16/2021  2095.03    Sim
3     02/12/2021  2088.75    Sim
4     02/11/2021  2086.48    Sim
...          ...      ...    ...
1254  02/25/2016   720.90    Sim
1255  02/24/2016   717.29    Sim
1256  02/23/2016   729.05    Não
1257  02/22/2016   722.11    Sim
1258  02/19/2016      NaN    Não

[1259 rows x 3 columns]

### Vamos adicionar mais colunas

In [13]:
acoes['Menos2'] = acoes['Close/Last'].shift(-2)
acoes['Menos3'] = acoes['Close/Last'].shift(-3)
acoes['Menos7'] = acoes['Close/Last'].shift(-7)

### Vamos manter apenas as colunas que interessam para classificar e excluir as linhas que ficaram com NaN no fim do conjunto

In [14]:
acoes = acoes[['Menos1','Menos2','Menos3','Menos7','classe']][:-7]

In [15]:
acoes

       Menos1   Menos2   Menos3   Menos7 classe
0     2118.62  2110.70  2095.03  2084.52    Não
1     2110.70  2095.03  2088.75  2088.83    Sim
2     2095.03  2088.75  2086.48  2053.63    Sim
3     2088.75  2086.48  2075.39  2058.88    Sim
4     2086.48  2075.39  2084.52  1919.12    Sim
...       ...      ...      ...      ...    ...
1247   730.22   731.59   739.48   729.12    Não
1248   731.59   739.48   742.17   720.90    Não
1249   739.48   742.17   717.22   717.29    Não
1250   742.17   717.22   724.86   729.05    Não
1251   717.22   724.86   729.12   722.11    Sim

[1252 rows x 5 columns]

### Em seguida, vamos separar em treino e teste pra não perder a relação temporal e classificar

In [16]:
X_treino, y_treino = acoes[['Menos1','Menos2','Menos3','Menos7']][200:], acoes[['classe']][200:]
X_teste, y_teste = acoes[['Menos1','Menos2','Menos3','Menos7']][:200], acoes[['classe']][:200]

In [17]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_treino, y_treino)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [19]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_teste)
print(accuracy_score(y_teste, y_pred))

0.5

In [20]:
from sklearn.tree import export_text

r = export_text(model, X_treino.columns.tolist())
print(r)

|--- Menos1 <= 720.83
|   |--- Menos3 <= 712.44
|   |   |--- Menos3 <= 709.61
|   |   |   |--- Menos1 <= 709.57
|   |   |   |   |--- class: Sim
|   |   |   |--- Menos1 >  709.57
|   |   |   |   |--- Menos3 <= 705.60
|   |   |   |   |   |--- class: Não
|   |   |   |   |--- Menos3 >  705.60
|   |   |   |   |   |--- Menos7 <= 726.83
|   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |--- Menos7 >  726.83
|   |   |   |   |   |   |--- Menos2 <= 709.67
|   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |--- Menos2 >  709.67
|   |   |   |   |   |   |   |--- class: Não
|   |   |--- Menos3 >  709.61
|   |   |   |--- class: Não
|   |--- Menos3 >  712.44
|   |   |--- class: Sim
|--- Menos1 >  720.83
|   |--- Menos7 <= 708.16
|   |   |--- class: Sim
|   |--- Menos7 >  708.16
|   |   |--- Menos1 <= 744.57
|   |   |   |--- Menos3 <= 715.38
|   |   |   |   |--- class: Sim
|   |   |   |--- Menos3 >  715.38
|   |   |   |   |--- Menos2 <= 764.23
|   |   |   |   |   |--- Menos1 <= 737.51
|   |   |   |   |   |   |--- Menos1 <= 736.39
|   |   |   |   |   |   |   |--- Menos2 <= 737.62
|   |   |   |   |   |   |   |   |--- Menos3 <= 742.37
|   |   |   |   |   |   |   |   |   |--- Menos2 <= 730.30
|   |   |   |   |   |   |   |   |   |   |--- Menos2 <= 727.64
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- Menos2 >  727.64
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- Menos2 >  730.30
|   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |--- Menos3 >  742.37
|   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |--- Menos2 >  737.62
|   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |--- Menos1 >  736.39
|   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |--- Menos1 >  737.51
|   |   |   |   |   |   |--- class: Não
|   |   |   |   |--- Menos2 >  764.23
|   |   |   |   |   |--- class: Sim
|   |   |--- Menos1 >  744.57
|   |   |   |--- Menos1 <= 757.55
|   |   |   |   |--- Menos1 <= 749.54
|   |   |   |   |   |--- Menos1 <= 748.03
|   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |--- Menos1 >  748.03
|   |   |   |   |   |   |--- class: Não
|   |   |   |   |--- Menos1 >  749.54
|   |   |   |   |   |--- Menos1 <= 754.62
|   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |--- Menos1 >  754.62
|   |   |   |   |   |   |--- Menos1 <= 757.22
|   |   |   |   |   |   |   |--- Menos7 <= 732.34
|   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |--- Menos7 >  732.34
|   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |--- Menos1 >  757.22
|   |   |   |   |   |   |   |--- class: Sim
|   |   |   |--- Menos1 >  757.55
|   |   |   |   |--- Menos7 <= 751.89
|   |   |   |   |   |--- class: Não
|   |   |   |   |--- Menos7 >  751.89
|   |   |   |   |   |--- Menos2 <= 758.11
|   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |--- Menos2 >  758.11
|   |   |   |   |   |   |--- Menos2 <= 1388.39
|   |   |   |   |   |   |   |--- Menos1 <= 1347.68
|   |   |   |   |   |   |   |   |--- Menos3 <= 1338.48
|   |   |   |   |   |   |   |   |   |--- Menos2 <= 1304.86
|   |   |   |   |   |   |   |   |   |   |--- Menos1 <= 1302.89
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 30
|   |   |   |   |   |   |   |   |   |   |--- Menos1 >  1302.89
|   |   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |--- Menos2 >  1304.86
|   |   |   |   |   |   |   |   |   |   |--- Menos1 <= 1323.40
|   |   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |   |   |--- Menos1 >  1323.40
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- Menos3 >  1338.48
|   |   |   |   |   |   |   |   |   |--- Menos3 <= 1358.55
|   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |--- Menos3 >  1358.55
|   |   |   |   |   |   |   |   |   |   |--- Menos7 <= 1436.71
|   |   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |   |   |--- Menos7 >  1436.71
|   |   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |--- Menos1 >  1347.68
|   |   |   |   |   |   |   |   |--- Menos7 <= 1345.65
|   |   |   |   |   |   |   |   |   |--- Menos2 <= 1353.40
|   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |   |--- Menos2 >  1353.40
|   |   |   |   |   |   |   |   |   |   |--- Menos1 <= 1353.40
|   |   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |   |--- Menos1 >  1353.40
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- Menos7 >  1345.65
|   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |--- Menos2 >  1388.39
|   |   |   |   |   |   |   |--- Menos2 <= 1483.03
|   |   |   |   |   |   |   |   |--- Menos7 <= 1461.43
|   |   |   |   |   |   |   |   |   |--- Menos7 <= 1365.10
|   |   |   |   |   |   |   |   |   |   |--- Menos2 <= 1417.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |   |--- Menos2 >  1417.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |   |--- Menos7 >  1365.10
|   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |--- Menos7 >  1461.43
|   |   |   |   |   |   |   |   |   |--- Menos1 <= 1452.38
|   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |--- Menos1 >  1452.38
|   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |--- Menos2 >  1483.03
|   |   |   |   |   |   |   |   |--- Menos1 <= 1497.38
|   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |--- Menos1 >  1497.38
|   |   |   |   |   |   |   |   |   |--- Menos2 <= 1519.08
|   |   |   |   |   |   |   |   |   |   |--- Menos7 <= 1445.73
|   |   |   |   |   |   |   |   |   |   |   |--- class: Não
|   |   |   |   |   |   |   |   |   |   |--- Menos7 >  1445.73
|   |   |   |   |   |   |   |   |   |   |   |--- class: Sim
|   |   |   |   |   |   |   |   |   |--- Menos2 >  1519.08
|   |   |   |   |   |   |   |   |   |   |--- class: Não

### Vamos variar o parêmtro de profundidade da árvore

In [42]:
for max_depth in [2,3,4,10]:
    model = DecisionTreeClassifier(max_depth = max_depth)
    model.fit(X_treino, y_treino)
    
    y_pred = model.predict(X_treino)
    print('Profundidade:', max_depth, '-', 'Acurácia no treino', accuracy_score(y_treino, y_pred))
    
    y_pred = model.predict(X_teste)
    print('Profundidade:', max_depth, '-', 'Acurácia no teste', accuracy_score(y_teste, y_pred))
    
    print()

Profundidade: 2 - Acurácia no treino 0.5313688212927756
Profundidade: 2 - Acurácia no teste 0.58

Profundidade: 3 - Acurácia no treino 0.5475285171102662
Profundidade: 3 - Acurácia no teste 0.58

Profundidade: 4 - Acurácia no treino 0.5494296577946768
Profundidade: 4 - Acurácia no teste 0.58

Profundidade: 10 - Acurácia no treino 0.596958174904943
Profundidade: 10 - Acurácia no teste 0.49

In [33]:
model = DecisionTreeClassifier(max_depth = 3)
model.fit(X_treino, y_treino)
y_pred = model.predict(X_teste)
print('Profundidade:', max_depth, '-', accuracy_score(y_teste, y_pred))

r = export_text(model, X_treino.columns.tolist())
print(r)

Profundidade: 4 - 0.58
|--- Menos1 <= 720.83
|   |--- Menos3 <= 712.44
|   |   |--- Menos3 <= 709.61
|   |   |   |--- class: Sim
|   |   |--- Menos3 >  709.61
|   |   |   |--- class: Não
|   |--- Menos3 >  712.44
|   |   |--- class: Sim
|--- Menos1 >  720.83
|   |--- Menos7 <= 708.16
|   |   |--- class: Sim
|   |--- Menos7 >  708.16
|   |   |--- Menos1 <= 744.57
|   |   |   |--- class: Não
|   |   |--- Menos1 >  744.57
|   |   |   |--- class: Sim

## Exercício 1

E se em vez de usarmos o valor absoluto, utilizarmos a diferença? Assim a regra aprende com as diferenças. Ou ainda, se simplemente marcamos se o valor subiu ou desceu.

## Exercício 2

Escolha outra ação na Nasdaq relacionada a tecnologia e acrescente ao conjunto de dados para verificar se as duas ações juntas se ajudam.